@use "sass:color";

$font-stack: "Inter", sans-serif;
$font-canela: "Canela Trial", system-ui, sans-serif;
$font-inter: "Inter", system-ui, sans-serif;
$primary-color: #ffffff;
$secondary-color: #3b2713;
$primary-background: rgba(255, 255, 255, 0);
$secondary-background: #ffffff;
$hover-background: #a66d35;

.header {
  backdrop-filter: blur(30px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 145px;
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 145px;
    margin: 0;
    padding: 0px 40px;
    position: relative;
  }

  &__section {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__left-section {
    display: flex;
    align-items: center;
    gap: 40px;
    flex: 1;
  }

  &__center-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__right-section {
    display: flex;
    align-items: center;
    gap: 40px;
    flex: 1;
    justify-content: flex-end;

    &-flagIcon {
      background-image: usFlag;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: $font-stack;
    font-size: 14px;
    color: $secondary-color;
    background-color: $secondary-background;
    border: none;
    border-radius: 30px;
    padding: 20px 25px;
    width: 132px;
    height: 64px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: $hover-background;
      color: $primary-color;
      transition: 300ms;
    }
  }

  &__menu-icon {
    font-size: 25px;
    display: flex;
    align-items: center;
    transition: all 300ms ease;

    svg {
      transition: all 300ms ease;

      path {
        transition: fill 300ms ease;
      }
    }
  }

  &__menu:hover &__menu-icon {
    svg path {
      fill: white;
    }
  }

  &__nav {
    display: flex;
    gap: 30px;

    &-link {
      font-family: $font-stack;
      font-size: 16px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
      transition: color 300ms ease;
      position: relative;
      display: inline-block;
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      line-height: 22px;

      &:hover {
        font-size: 16px;
        color: rgba(18, 18, 22, 1);
      }
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;

    img {
      height: 115.88px;
      width: auto;
    }
  }

  &__logo-text {
    font-family: $font-stack;
    font-size: 14px;
    color: $primary-color;
    text-transform: uppercase;
  }

  &__language {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: $font-stack;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;

    &-flag {
      font-size: 16px;
    }

    &-text {
      font-size: 16px;
      font-weight: 600;
    }

    &-icon {
      font-size: 20px;
    }
  }

  &__join-now {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: $font-stack;
    font-size: 14px;
    color: $secondary-color;
    background-color: $secondary-background;
    border: none;
    border-radius: 30px;
    padding: 20px 25px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: $hover-background;
      color: $primary-color;
      transition: 300ms;
    }
  }

  &__join-icon {
    font-size: 25px;
    display: flex;
    align-items: center;
    transition: all 300ms ease;

    svg {
      transition: all 300ms ease;

      path {
        transition: fill 300ms ease;
      }
    }
  }

  &__join-now:hover &__join-icon {
    svg path {
      fill: white;
    }
  }

  &__login a {
    font-family: $font-stack;
    font-size: 14px;
    font-weight: 600;
    color: $secondary-color;
    text-decoration: none;
    padding: 20px 25px;
    background-color: $secondary-background;
    border-radius: 30px;
    border: 1px solid $primary-color;

    &:hover {
      background-color: $hover-background;
      color: $primary-color;
    }
  }
}
