@use 'sass:color';

$font-stack: 'Inter', sans-serif;
$primary-color: #FFFFFF;
$secondary-color: #3B2713;
$primary-background: rgba(255, 255, 255, 0.01);
$secondary-background: #FFFFFF;
$hover-background: #A66D35;

.header {
  background-color: $primary-background;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 145px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 141px;
    max-width: 1780px;
    margin: 0 ;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: $font-stack;
    font-size: 14px;
    color: $secondary-color;
    background-color: $secondary-background;
    border: none;
    border-radius: 30px;
    padding: 20px 25px;
    width: 132px;
    height: 64px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    &:hover {
      background-color: $hover-background;
      color: $primary-color;
      transition: 300ms;
    }
  }

  &__menu-icon {
    font-size: 18px;
  }

  &__nav {
    display: flex;
    gap: 30px;

    &-link {
      font-family: $font-stack;
      font-size: 14px;
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__logo img {
    height: 115.88px;
    width: auto;
  }

  &__language select {
    font-family: $font-stack;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid color.adjust($primary-background, $lightness: -10%);
  }

  &__login a {
    font-family: $font-stack;
    font-size: 14px;
    font-weight: 600;
    color: $secondary-color;
    text-decoration: none;
    padding: 20px 25px;
    background-color: $secondary-background;
    border-radius: 30px;
    border: 1px solid $primary-color;

    &:hover {
      background-color: $hover-background;
      color: $primary-color;
    }
  }
}
