@use "sass:color";
@import url("https://fonts.cdnfonts.com/css/canela-text-trial");

$font-canela: "Canela Trial", system-ui, sans-serif;
$font-inter: "Inter", system-ui, sans-serif;
$primary-color: rgba(255, 255, 255, 1);
$hero-secondary-color: rgba(255, 255, 255, 0.75);
$scroll-indicator-color: rgba(255, 255, 255, 1);
$aboutrepa-title-color: rgba(195, 98, 2, 1);
$aboutrepa-primary-color: rgba(59, 39, 19, 1);
$aboutrepa-description-color: rgba(73, 73, 73, 1);
$aboutrepa-description-color-hover: rgba(0, 0, 0, 1);
$aboutrepa-button-color-hover: rgba(59, 39, 19, 1);
$aboutrepa-button-backgroundcolor: rgba(166, 109, 53, 1);
$aboutrepa-button-backgroundcolor-hover: rgba(255, 255, 255, 1);
$service-title-color: rgba(244, 238, 231, 1);
$service-backgroundcolor: rgba(0, 0, 0, 1);
$service-button-color: rgba(59, 39, 19, 1);

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("../assets/Banner/Hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: end;
  &__text {
    padding-right: 140px;
  }
  &__header {
    h1 {
      margin: 0;
      font-family: $font-canela;
      font-size: 100px;
      font-weight: 400;
      color: $primary-color;
      letter-spacing: -2px;
      font-style: italic;
      line-height: 95px;
    }
  }

  &__description {
    p {
      margin-top: 40px;
      font-size: 20px;
      line-height: 32px;
      font-family: $font-inter;
      color: $hero-secondary-color;
    }
  }
}

.pageScrollIndicator {
  text-align: center;
  svg {
    position: absolute;
    bottom: 75px;
    transition: ease-out 300ms;
  }

  svg:hover {
    opacity: 0.2;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .AboutRepaRetreat {
    padding: 150px 70px;
    text-align: center;

    p.AboutRepaRetreat__title {
      color: $aboutrepa-title-color;
      margin: 0 0 40px 0;
      font-family: $font-inter;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    &__content {
      font-family: $font-canela;
      max-width: 898px;
      max-height: 392px;
      margin: auto;
      margin-bottom: 65px;
      text-align: center;
    }

    h1 {
      color: $aboutrepa-primary-color;
      margin: 0;
      padding: 0 91px;
      font-size: 72px;
      font-weight: 400;
      line-height: 82px;
    }
    h2 {
      color: $aboutrepa-primary-color;
      margin: 0;
      padding: 0 91px;
      font-size: 72px;
      font-weight: 100;
      font-style: Italic;
      line-height: 82px;
      letter-spacing: 0px;
      text-align: center;
    }

    &__description {
      color: $aboutrepa-description-color;
      font-family: $font-inter;
      font-size: 18px;
      text-align: center;
      &-paragraph {
        padding: 40px 91px 60px 91px;
        margin: 0;
        max-width: 716px;
        max-height: 96px;
        font-weight: 400;
        line-height: 32px;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      gap: 10px;
      max-width: 150px;
      max-height: 32px;
      font-family: $font-inter;
      font-size: 14px;
      color: $aboutrepa-primary-color;
      margin: auto;

      &-arrowbutton {
        background-color: $aboutrepa-button-backgroundcolor;
        padding: 9px 11px;
        border-radius: 100%;
      }
    }

    button {
      background-color: #fff;
      border: none;
      cursor: pointer;

      &:hover {
        .AboutRepaRetreat__button-arrowbutton {
          border: 1px solid;
          border-color: $aboutrepa-button-color-hover;
          background-color: $aboutrepa-button-backgroundcolor-hover;
        }
        svg path {
          fill: $aboutrepa-button-color-hover;
        }
      }
    }

    &__images {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 70px;
      width: 445px;
      height: 300px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &-img1 {
        position: absolute;
        width: 392px;
        height: 459px;
        left: 70px;
        top: 1428px;
      }
      &-img2 {
        position: absolute;
        width: 392px;
        height: 501px;
        left: 532px;
        top: 1834px;
      }
      &-img3 {
        position: absolute;
        width: 390px;
        height: 501px;
        left: 994px;
        top: 1744px;
      }
      &-img4 {
        position: absolute;
        width: 392px;
        height: 521px;
        left: 1454px;
        top: 1280px;
      }
    }
  }

  .services {
    position: relative;
    margin-top: 276px;
    top: 140px;
    width: 1780px;
    height: 840px;

    &__backgroundImage {
      position: absolute;
      width: 1780px;
      height: 840px;
      border-radius: 20px;
      overflow: hidden;
      z-index: 0;
      background-color: rgba(0, 0, 0, 1);
      .services__gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 651px;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        z-index: 2;
      }

      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 85%;
        z-index: 1;
      }
    }

    &__content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding-top: 100px;
    }

    &__left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
    }

    &__title {
      font-family: $font-inter;
      color: $service-title-color;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 2px;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
    }

    &__header {
      color: $primary-color;
      h1 {
        font-family: $font-canela;
        font-size: 72px;
        font-weight: 400;
        line-height: 82px;
      }

      &-thin {
        font-family: Canela Trial;
        font-weight: 100;
        font-style: Italic;
        font-size: 72px;
        line-height: 82px;
        letter-spacing: 0px;
      }
    }

    button {
      background-color: #fff;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: $aboutrepa-button-backgroundcolor;
        color: $primary-color;
        .services__button-arrowbutton {
          border: 1px solid;
          border-color: $aboutrepa-button-color-hover;
          background-color: $aboutrepa-button-backgroundcolor-hover;
        }
        svg path {
          fill: $aboutrepa-button-color-hover;
        }
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary-color;
      width: 259px;
      height: 72px;
      border-radius: 50px;
      gap: 10px;
      padding: 20px 25px;

      &-arrowbutton {
        background-color: $aboutrepa-button-backgroundcolor;
        padding: 9px 11px;
        border-radius: 100%;
      }

      &:hover {
        background-color: $aboutrepa-button-backgroundcolor-hover;
        color: $aboutrepa-button-color-hover;
      }

      label {
        font-family: $font-inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 2px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
      }
    }

    &__right {
      font-family: $font-inter;
      color: $primary-color;
      width: 540px;
      height: 64px;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0%;
    }
  }

  .language {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 33px;
    margin-top: 170px;
    margin-bottom: 120px;

    &__nepalilanguage,
    &__chineselanguage,
    &__englishlanguage {
      font-family: $font-canela;
      color: $aboutrepa-primary-color;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;

      span {
        font-family: $font-canela;
        color: $aboutrepa-title-color;
        font-weight: 300;
        font-style: Italic;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 0px;
      }
    }
  }

  .nepalilanguage,
  .chineselanguage,
  .englishlanguage {
    &__learnMore {
      &-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: 150px;
        max-height: 32px;
        font-family: $font-inter;
        font-size: 14px;
        color: $aboutrepa-primary-color;
      }

      &-arrowbutton {
        background-color: $aboutrepa-button-backgroundcolor;
        padding: 9px 11px;
        border-radius: 100%;
      }

      button {
        background-color: #fff;
        border: none;
        cursor: pointer;
        margin-top: 30px;
        padding: 0;

        &:hover {
          .nepalilanguage__learnMore-arrowbutton,
          .chineselanguage__learnMore-arrowbutton,
          .englishlanguage__learnMore-arrowbutton {
            border: 1px solid;
            border-color: $aboutrepa-button-color-hover;
            background-color: $aboutrepa-button-backgroundcolor-hover;
          }
          svg path {
            fill: $aboutrepa-button-color-hover;
          }
        }
      }
    }
  }
}

.quote {
  background: url("../assets/Banner/Rectangle\ 39.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 648px;
  width: auto;
  position: relative;

  &__image {
    text-align: center;
    svg {
      position: absolute;
      width: 81.1590576171875px;
      height: 100.02999877929688px;
      top: 89.9px;
    }
  }

  &__text {
    position: absolute;
    width: 1071px;
    height: 204;
    top: 249.93px;
    left: 424.22px;
    p {
      font-family: $font-canela;
      font-weight: 300;
      font-size: 52px;
      line-height: 68px;
      text-align: center;
    }
  }

  &__design {
    position: absolute;
    right: 0px;
    bottom: -3px;
  }
}

.repaProgram {
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
  padding: 140px;
  max-width: 1920px;
  margin: 0 auto;

  &__summary {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 100px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .left__summary {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    gap: 40px;
    flex: 1;
    min-width: 300px;
  }

  &__label {
    font-family: $font-inter;
    color: $aboutrepa-title-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
  }
  &__header {
    font-family: $font-canela;
    line-height: 82px;
    color: $aboutrepa-primary-color;

    h1 {
      font-weight: 400;
      font-size: 72px;
    }

    span {
      font-family: $font-canela;
      font-weight: 100;
      font-style: Italic;
      font-size: 72px;
      line-height: 82px;
    }
  }

  &__description {
    max-width: 474.19px;
    flex: 1;
    min-width: 300px;
    p {
      font-family: $font-inter;
      color: $aboutrepa-primary-color;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
    }
  }
}

.practices {
  display: flex;
  flex-direction: column;
  gap: 150px;
  margin-top: 100px;

  &__preliminary {
    position: relative;
    display: flex;
    align-items: center;
    right: 88px;
    gap: 50px;
    min-height: 659px;
    justify-content: flex-end;
  }

  &__image {
    position: relative;
    flex: 1;
    max-width: 1130px;
    height: 659px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 0;
    background-color: rgba(0, 0, 0, 1);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .services__gradient {
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #3b2713 100%);
      border-radius: 10px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  &__image-summary {
    position: absolute;
    width: 533.59px;
    max-width: 45%;
    height: 482.8px;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    background: #f6f1ea;
    border-radius: 10px;
    z-index: 2;
    padding: 80px;
    box-sizing: border-box;
  }

  &__image-context {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    height: 100%;
  }

  &__advanced {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    left: 88px;
    min-height: 659px;
    flex-direction: row-reverse;
    justify-content: flex-end;

    &-gradient {
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #3b2713 100%);
      border-radius: 10px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    &-image {
      position: relative;
      flex: 1;
      max-width: 1130px;
      height: 659px;
      border-radius: 20px;
      overflow: hidden;
      z-index: 0;
      background-color: rgba(0, 0, 0, 1);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .practices__advanced-gradient {
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #3b2713 100%);
        border-radius: 10px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
  }

  .advancedpractices__image-summary {
    position: absolute;
    width: 533.59px;
    max-width: 45%;
    height: 482.8px;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    background: #f6f1ea;
    border-radius: 10px;
    z-index: 2;
    padding: 80px;
    box-sizing: border-box;
  }
}

.practices {
  &__header {
    h1 {
      font-family: $font-canela;
      font-weight: 400;
      font-size: 42px;
      line-height: 100%;
      letter-spacing: 0px;
      color: $service-button-color;
    }

    &-span {
      font-family: $font-canela;
      font-weight: 100;
      font-style: Italic;
      font-size: 42px;
      line-height: 100%;
      letter-spacing: 0px;
    }
  }

  &__description {
    font-family: $font-inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 150px;
    max-height: 32px;
    font-family: $font-inter;
    font-size: 14px;
    color: $aboutrepa-primary-color;
    border: none;
    background-color: transparent;
    &-arrowbutton {
      background-color: $aboutrepa-button-backgroundcolor;
      padding: 9px 11px;
      border-radius: 100%;
    }
  }

  button.practices__button {
    border: none;
    cursor: pointer;
    margin-top: 30px;
    padding: 0;

    &:hover {
      .practices__button-arrowbutton {
        border: 1px solid $aboutrepa-button-color-hover;
        background-color: $aboutrepa-button-backgroundcolor-hover;
      }
      svg path {
        fill: $aboutrepa-button-color-hover;
      }
    }
  }
}

.Accommodation {
  background-color: #f6f1ea;
  padding: 140px 0;
}

.accommodation__header {
  text-align: center;
  margin-bottom: 80px;
}

.accommodation__label {
  color: $aboutrepa-title-color;
  font-family: $font-inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.accommodation__title {
  font-family: $font-canela;
  font-weight: 100;
  font-style: Italic;
  font-size: 72px;
  color: $service-button-color;
  line-height: 82px;
  letter-spacing: 0px;
  text-align: center;
  &-span {
    font-family: $font-canela;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    text-align: center;
  }
}

.blocks {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.blocks__item {
  position: relative;
  width: 430px;
  height: 671.84px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.6s ease;
  }

  &:hover img {
    transform: scale(1.5);
  }
}

.blocks__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 52.4%;
  overflow: hidden;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.85) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 40px;

  transition: height 0.6s ease, background 0.6s ease;
}

.blocks__item:hover .blocks__overlay {
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(59, 39, 19, 0) 0%,
    rgba(59, 39, 19, 0.85) 100%
  );
}

.blocks__title {
  margin-bottom: 6px;
  color: $primary-color;
  font-family: $font-canela;
  font-weight: 100;
  font-style: Italic;
  font-size: 42px;
  line-height: 100%;
  text-align: center;
  vertical-align: bottom;
}

.blocks__label {
  font-family: $font-canela;
  color: $primary-color;
  font-weight: 400;
  font-size: 42px;
  line-height: 100%;
  text-align: center;
  vertical-align: bottom;
}
